.navbar{
    background-color: rgb(0, 0, 0) !important;
}
.nav-link{
    color: white !important;
    margin-right: 2rem;
    font-size: larger;
}
body{
    background-color: aliceblue;
}
.carousel-item{
    margin-bottom: 3rem;
}

#Home{
    color: rgb(0, 0, 0);
}
#logobw{
    margin: 1rem;
}
#intro{
    margin-top: 1rem;
    line-height: 1.4rem;
    text-align: justify ;
}
#hist{
    text-align:justify;
}
#developer{
    margin-bottom: 3rem;
}
#aplicad{
    margin-top: 2rem;
    text-align: justify;
}